.container {
    margin: 0;
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 100vw;
    font-family: "Courier New", monospace;
    color: white;
    background: #28282a;
}

.container_item {
    justify-self: center;
    align-self: center;
    text-align: center;
}

a {
    color: white;
}

.profile_link--image {
    margin-top: 1vh;
    width: 5vh;
}

.profile_picture {
    width: 10vh;
    border-radius: 50%;
    height: 10vh;
}